In [2]:
import warnings

import pandas
import psycopg2
warnings.filterwarnings('ignore')

start_date = "2022-11-21 23:59:59"
end_date = "2022-11-23 00:00:01"
aom_insee = "217500016"

con = psycopg2.connect(
    host="localhost",
    database="local",
    user="postgres",
    password="postgres"
)

query = f"""SELECT cc._id, cc.is_driver, ci.phone_trunc, cc.datetime, cc.duration, cc.operator_id, cc.start_position, cc.operator_journey_id,
cc.end_position, gmap_url(cc.start_position, cc.end_position), CASE WHEN cc.is_driver THEN pa.rpc_driver_uuid ELSE pa.rpc_passenger_uuid END as rpc_uuid, pi.result
FROM CARPOOL.CARPOOLS cc
   join carpool.identities ci on cc.identity_id = ci._id
   join geo.perimeters gps on cc.start_geo_code = gps.arr and gps.year = 2022
   join geo.perimeters gpe on cc.end_geo_code = gpe.arr and gpe.year = 2022
   LEFT join phones.all pa on pa.operator_journey_id = cc.operator_journey_id
   LEFT JOIN policy.incentives pi on pi.carpool_id = cc._id and pi.policy_id = 459
WHERE CC.DATETIME >= '{start_date}'::timestamp AT TIME ZONE 'EUROPE/PARIS'
    AND cc.operator_id IN (3,4,9)
	AND CC.DATETIME < '{end_date}'::timestamp AT TIME ZONE 'EUROPE/PARIS'
    {f"and (gps.aom = '{aom_insee}' or gpe.aom = '{aom_insee}') and gps.year = 2022 and gpe.year = 2022" if aom_insee else ""}
"""

df_carpool = pandas.read_sql(query, con)
df_carpool.head(10)                               # preview

,_id,is_driver,phone_trunc,datetime,duration,operator_id,start_position,operator_journey_id,end_position,gmap_url,rpc_uuid,result
0,21277692,True,+336233586,2022-11-22 06:28:05+00:00,1825,4,0101000020E6100000A87201403A6A004077EFFF9FDE61...,3ll2la4a-uk4k-1qnz-wxlq-n1ukqccuc3cn,0101000020E6100000742C00207FA201407AF5FF1F1F58...,"https://www.google.com/maps/dir/48.7646064758,...",513ca4e0-c295-11ed-94f9-024264400007,178.0
1,21278020,True,+336206605,2022-11-22 06:20:00+00:00,1311,4,0101000020E610000089190120250304406CFDFF7FCD67...,cwzwnx7w-ul9x-1zxl-wwcz-q2x22cxl1u34,0101000020E61000000D840120770F0540BB070080D768...,"https://www.google.com/maps/dir/48.8109588623,...",3f8e8ee8-c295-11ed-94f9-024264400007,152.0
2,21278150,True,+337777896,2022-11-22 08:00:52+00:00,3596,4,0101000020E61000003C550160FC990340F2070060AE64...,193awk1w-llxx-199c-kk4q-u4n19cnwzu9w,0101000020E61000008F4AFE9FFBB501402BEBFF1F1573...,"https://www.google.com/maps/dir/48.7865715027,...",34635b08-c294-11ed-94f9-024264400007,250.0
3,21278924,True,+336196017,2022-11-22 08:35:04+00:00,2504,4,0101000020E61000004FF300603D730340A0F7FFDF036C...,nlqqnz29-zw1l-1znx-xwaa-u7u377an7nc2,0101000020E610000056AAFEDFD55D0640C6F9FF9F086C...,"https://www.google.com/maps/dir/48.8438682556,...",398863a2-c295-11ed-94f9-024264400007,300.0
4,21279016,True,+336137274,2022-11-22 15:45:53+00:00,1093,4,0101000020E6100000BF47FF3F5599044064EEFF3F4C4F...,7xcccw44-w19c-1wlc-kz43-zcqqlkwklxzz,0101000020E6100000C916FFBFF53A054090FCFFFF9145...,"https://www.google.com/maps/dir/48.6195144653,...",104238ec-c295-11ed-94f9-024264400007,150.0
5,21280810,True,+337685741,2022-11-22 08:00:23+00:00,1856,4,0101000020E61000003E9200E0D9240240311700804669...,a31cua72-axzq-17wn-kx7k-ca4ukwaa32q7,0101000020E61000002565002016580140F4EAFF3FDE60...,"https://www.google.com/maps/dir/48.8224639893,...",01e8fc8c-c294-11ed-94f9-024264400007,150.0
6,21273722,True,+336723026,2022-11-22 07:11:25+00:00,1144,4,0101000020E610000086F3004054F5034030F4FFDF1559...,2caxx1au-kal4-1q2w-k3kq-713zzw7uk31a,0101000020E6100000AFAFFFBF94BC044043F5FF3F884B...,"https://www.google.com/maps/dir/48.695980072,2...",c9735bba-c291-11ed-94f9-024264400007,155.0
7,21273816,True,+336324140,2022-11-22 07:09:38+00:00,2077,4,0101000020E6100000072EEAEE95B4FD3F58000979F352...,ln47l2w4-u412-1z7w-kaz9-4xz7cqnkuax3,0101000020E610000066C9D23DA15D0140D3FDF73B6F6B...,https://www.google.com/maps/dir/48.64805519999...,86414f60-c295-11ed-94f9-024264400007,300.0
8,21276554,True,+336724042,2022-11-22 16:15:30+00:00,1704,4,0101000020E6100000098CF50D4C4E0640EBAD81AD126C...,423zlcw9-xx13-1cuq-kk12-9lz119xz3ku1,0101000020E6100000D92DB8D5626606403A3BBE62B284...,"https://www.google.com/maps/dir/48.84432,2.788...",c92a1694-c291-11ed-94f9-024264400007,300.0
9,21274572,True,+336109114,2022-11-22 07:59:45+00:00,785,4,0101000020E61000000BF2FF1F31F403401FF6FFBFE369...,1277a11w-2lwk-1z1a-wukq-xc2uau1qwklc,0101000020E6100000C4EDFE9FE4DF034072E6FFDF1D6D...,"https://www.google.com/maps/dir/48.8272628784,...",fe7fd2a4-c294-11ed-94f9-024264400007,150.0

# Process

1. Clean data
    * Remove `phone_trunc` when distinct operators occurence < 2
    * Remove when no datetime overlap between 2 operators

In [40]:
# phone_trunc_grouped = df_carpool.groupby(['phone_trunc'], as_index=False)['operator_id']

# df_carpool_iterator.loc[(df_carpool_iterator['phone_trunc'] == '+336699889') & (df_carpool_iterator['operator_id'] != 3)]

# df_carpool_pt_index = df_carpool.set_index(['phone_trunc', 'operator_id'])
# df_carpool_pt_index.sort_index()

# df_carpool_pt_index.loc['+324602441']
# df_carpool_pt_index.info()
# df_carpool.index.values

# phone_trunc_grouped = df_carpool_pt_index.groupby(['phone_trunc'])
    
# phone_trunc_grouped.filter(lambda x: x['phone_trunc'].count() > 1)

# phone_trunc_grouped.describe()

# pandas.MultiIndex.from_frame(phone_trunc_grouped)
# phone_trunc_grouped.head()

# 1 Remove `phone_trunc` when distinct operators occurence < 2
phone_trunc_grouped = df_carpool.groupby(['phone_trunc'])    
phone_trunc_grouped_filtered = phone_trunc_grouped.filter(lambda x: len(pandas.unique(x['operator_id'])) > 1)

# phone_trunc_grouped.apply(lambda x: print(x['operator_id']))

# df_carpool_pt_index = phone_trunc_grouped_filtered.set_index(['phone_trunc', 'operator_id'])
# df_carpool_pt_index.sort_index()
# phone_trunc_grouped_filtered.count().head()

# phone_trunc_grouped_filtered

# phone_trunc_grouped2 = phone_trunc_grouped_filtered.groupby(['phone_trunc'])

df_new = phone_trunc_grouped_filtered.groupby(['phone_trunc']).agg({'operator_id': 'nunique', 'datetime': list})

df_new.reset_index(inplace=True)

df_new.columns = ['phone_trunc', 'unique_operator_id_count', 'datetime_array']

df_new

# phone_trunc_grouped.get_group('+337895813')

,phone_trunc,unique_operator_id_count,datetime_array
0,+336010355,3,"[2022-11-22 17:20:28+00:00, 2022-11-22 17:20:0..."
1,+336013607,3,"[2022-11-22 12:05:29+00:00, 2022-11-22 12:10:1..."
2,+336014243,2,"[2022-11-22 13:56:25+00:00, 2022-11-22 15:55:2..."
3,+336014278,3,"[2022-11-22 17:15:58+00:00, 2022-11-22 17:30:0..."
4,+336016408,2,"[2022-11-22 06:43:39+00:00, 2022-11-22 17:51:0..."
...,...,...,...
1068,+337883252,2,"[2022-11-22 06:30:00+00:00, 2022-11-22 06:30:0..."
1069,+337889620,3,"[2022-11-22 16:45:00+00:00, 2022-11-22 06:00:0..."
1070,+337890741,2,"[2022-11-22 07:30:00+00:00, 2022-11-22 17:50:0..."
1071,+337893918,2,"[2022-11-22 07:59:58+00:00, 2022-11-22 16:27:2..."
1072,+337895813,2,"[2022-11-22 08:45:00+00:00, 2022-11-22 16:45:0..."

In [41]:
df_count = phone_trunc_grouped_filtered.groupby(['phone_trunc']).count()

phone_trunc_mask = df_count.operator_id < 2

df_count[phone_trunc_mask]

Empty DataFrame
Columns: [_id, is_driver, datetime, duration, operator_id, start_position, operator_journey_id, end_position, gmap_url, rpc_uuid, result]
Index: []

In [23]:
mask = df_new.unique_operator_id_count > 2

df_new[mask]

,phone_trunc,unique_operator_id_count,datetime_array
0,+336010355,3,"[2022-11-22 17:20:28+00:00, 2022-11-22 17:20:0..."
1,+336013607,3,"[2022-11-22 12:05:29+00:00, 2022-11-22 12:10:1..."
3,+336014278,3,"[2022-11-22 17:15:58+00:00, 2022-11-22 17:30:0..."
5,+336017482,3,"[2022-11-22 06:36:29+00:00, 2022-11-22 15:33:5..."
7,+336017694,3,"[2022-11-22 16:03:06+00:00, 2022-11-22 06:40:0..."
...,...,...,...
1021,+337831832,3,"[2022-11-22 07:27:02+00:00, 2022-11-22 15:55:0..."
1028,+337833999,3,"[2022-11-22 16:35:00+00:00, 2022-11-22 08:00:1..."
1039,+337839511,3,"[2022-11-22 05:53:59+00:00, 2022-11-22 06:00:0..."
1056,+337865864,3,"[2022-11-22 15:05:47+00:00, 2022-11-22 06:26:4..."
1069,+337889620,3,"[2022-11-22 16:45:00+00:00, 2022-11-22 06:00:0..."

In [43]:
# view data

# reset les indexes après un group by -> Pas besoin de multi indexes et bug si filtre avec multi
df_carpool_pt_index = phone_trunc_grouped_filtered.set_index(['phone_trunc'])
df_linear_view = df_carpool_pt_index.sort_index()[['_id', 'is_driver', 'datetime','duration', 'operator_id', 'rpc_uuid']]

df_linear_view

,_id,is_driver,datetime,duration,operator_id,rpc_uuid
phone_trunc,,,,,,
+336010355,21188963,False,2022-11-22 06:25:59+00:00,1761,3,cb26a9f0-c294-11ed-94f9-024264400007
+336010355,21418033,False,2022-11-22 17:10:00+00:00,925,9,cb26a9f0-c294-11ed-94f9-024264400007
+336010355,21395551,False,2022-11-22 06:20:00+00:00,916,9,cb26a9f0-c294-11ed-94f9-024264400007
+336010355,21281103,False,2022-11-22 17:20:00+00:00,1730,4,cb26a9f0-c294-11ed-94f9-024264400007
+336010355,21281105,False,2022-11-22 06:23:15+00:00,1970,4,cb26a9f0-c294-11ed-94f9-024264400007
...,...,...,...,...,...,...
+337893918,21211957,False,2022-11-22 16:27:25+00:00,1634,3,7ebc1b90-c294-11ed-94f9-024264400007
+337893918,21196843,False,2022-11-22 07:59:58+00:00,1761,3,7ebc1b90-c294-11ed-94f9-024264400007
+337895813,21198978,True,2022-11-22 08:55:03+00:00,2545,3,7cb2b386-c294-11ed-94f9-024264400007
+337895813,21416826,True,2022-11-22 16:45:00+00:00,1353,9,7cb2b386-c294-11ed-94f9-024264400007
+337895813,21402502,True,2022-11-22 08:45:00+00:00,1752,9,7cb2b386-c294-11ed-94f9-024264400007

In [60]:
from datetime import timedelta

import pandas as pd


def has_overalp(row1, row2):
  start1 = pd.to_datetime(row1['datetime'])
  duration1 = pd.to_timedelta(row1['duration'], unit='m')
  
  start2 = row2['datetime']
  duration2 = pd.to_timedelta(row2['duration'], unit='m')

  end1 = start1 + duration1
  end2 = start2 + duration2

  overlap_start = max(start1, start2)
  overlap_end = min(end1, end2)

  return max(0, (overlap_end - overlap_start).total_seconds())

phone_trunc_grouped_filtered.groupby(['phone_trunc']).agg()

for i in range(len(phone_trunc_grouped_filtered)):
  for j in range(i+1, len(phone_trunc_grouped_filtered)):
    overlap_duration = has_overalp(phone_trunc_grouped_filtered.iloc[i], phone_trunc_grouped_filtered.iloc[j])
    print(overlap_duration)


# phone_trunc_grouped_filtered['overlap'] = (phone_trunc_grouped_filtered.groupby(['phone_trunc'])\
#                                            .apply(lambda x: (x['datetime'].shift() - x['datetime'] + pandas.to_timedelta(x['duration']) > timedelta(0)))\
#                                            .reset_index(level=0, drop=True))

# view data
# df_carpool_pt_index = phone_trunc_grouped_filtered.set_index(['phone_trunc'])
# df_linear_view = df_carpool_pt_index.sort_index()[['_id', 'is_driver', 'datetime','duration', 'operator_id', 'rpc_uuid', 'overlap']]

TypeError: Must provide 'func' or tuples of '(column, aggfunc).

In [49]:
phone_trunc_grouped_filtered.dtypes

_id                                  int64
is_driver                             bool
phone_trunc                         object
datetime               datetime64[ns, UTC]
duration                             int64
operator_id                          int64
start_position                      object
operator_journey_id                 object
end_position                        object
gmap_url                            object
rpc_uuid                            object
result                             float64
overlap                               bool
dtype: object